# backend
/llm-chat-back/node_modules/
/llm-chat-back/.env
/llm-chat-back/logs/
#/llm-chat-back/data/   필요하면 추가

# frontend
/llm-chat/node_modules/

# common build outputs
/llm-chat/dist/
/llm-chat-back/dist/
/build/

# log files
*.log